{% extends "base_admin.html" %}

{%block title%}{% endblock %}
{%block content%}
<!--{%from "_render_field.html" import render_field%}-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Is admin</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {%for user in users%}
         <tr>
      <th>{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.admin}}</td>
      <td><a href="{{url_for('user_bp_in.user_update_admin', id=user.id)}}" class="btn btn-primary fs-5"> Edit </a></td>
      <td><a href="{{url_for('user_bp_in.user_delete_admin', id=user.id)}}" class="btn  btn-danger fs-5"> Delete </a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}
