body{
     background-image: url('../images/fon.png');
     background-size: 100%;
}
.info_about_me{
    color:white;
    font-size:25px;
    width:70%;
    position:absolute;
    display:inline-block;
}
.my_achievement{
    color:white;
    font-size:25px;
    position:absolute;
    display:inline-block;
}
.achievement_img{
    width:512px;
    height:512px
}
.fon{
    width:100%;
}
.label{
color:white;
font-size:25px;
}
.errors{
color:white;
}
.flash_message{
color:white;
}
.table_form{
color:white;
}
.href_in_background{
color: #adddb8;
}
.href_in_background:hover {
color: white;
}

.form-login{
    background-color:rgba(197, 217, 226, 0.3);
    width:25%;
    height:auto;
    border-radius:20px;
    position:absolute;
    left:35%;
}
.form_label{
    color:white;
     font-size:25px;
}
.error_form{
    color:#ecb9af;
}
.error_form_admin{
    color:red;
}
.account_user{
    color:white;
}
.last_seen{
    color:#e5ebe8;
    font-weight:bold;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
