{% extends "base.html" %}

{%block title%}Контактна форма{% endblock %}
{%block content%}
{%from "_render_field.html" import render_field%}
 <div class="form-wrapper" align="center">
     <br>
     <table class="table table-striped w-auto" border="3" align="center">
  <thead>
    <tr>
        <td class="table_form" scope="col">Id</td>
      <td class="table_form" scope="col">Name</td>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td class="table_form">{{category.id}}</td>
       <td class="table_form">{{category.name}}</td>
  </tr>
  </tbody>
</table>
     <a href="/category/{{ category.id }}/update" class="btn btn-primary fs-5"> Edit </a>
     <a href="/category/{{ category.id }}/delete" class="btn  btn-danger fs-5"> Delete </a>
<!--     <form action="{{ url_for('task_update', id=category.id) }}">-->
<!--        <input  class="btn btn-primary" type="submit" value="Edit" />-->
<!--     </form>-->
<!--     <form action="{{ url_for('task_delete', id=category.id) }}">-->
<!--         <input  class="btn btn-danger" type="submit" value="Delete" />-->
<!--     </form>-->
</div>

{% endblock %}
