{% extends "base.html" %}

{%block title%}Контактна форма{% endblock %}
{%block content%}
{%from "_render_field.html" import render_field%}
 <div class="form-wrapper" align="center">
     <br>
     <table class="table table-striped w-auto" border="3" align="center">
  <thead>
    <tr>
        <td class="table_form" scope="col">Id</td>
      <td class="table_form" scope="col">Name</td>
        <td class="table_form" scope="col">Tasks</td>
        <td class="table_form" scope="col">Сount of completed task</td>
        <td class="table_form" scope="col">Сount of uncompleted task</td>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td class="table_form">{{employee.id}}</td>
       <td class="table_form">{{employee.name}}</td>
      <td class="table_form">
          {%for task in tasks.all()%}
              <a class="href_in_background" href="/task/{{task.id}}">{{task.title}}</a>
          {%endfor%}
      </td>
      <td class="table_form">{{employee.count_of_completed_tasks}}</td>
      <td class="table_form">{{tasks.count()-employee.count_of_completed_tasks}}</td>
<!--      {%if tasks.count() != 0%}-->
<!--      <td class="table_form">{{tasks.count()-employee.count_of_completed_tasks}}</td>-->
<!--      {%else%}-->
<!--       <td class="table_form">0</td>-->
<!--      {%endif%}-->
  </tr>
  </tbody>
</table>
     <a href="/employee/{{ employee.id }}/update" class="btn btn-primary fs-5"> Edit </a>
     <a href="/employee/{{ employee.id }}/delete" class="btn  btn-danger fs-5"> Delete </a>
</div>

{% endblock %}
