{% extends "base.html" %}

{%block title%}{% endblock %}
{%block contact_form%}
{%from "_render_field.html" import render_field%}
 <div class="form-login" align="center">
      <form method="POST" action="{{ url_for('login') }}">
                 {{form.csrf_token}}
          {{ render_field(form.email, class="form-control", placeholder="email") }}
          {{ render_field(form.password, class="form-control", placeholder="password") }}
                  {{ render_field(form.remember) }}
          <br>
          {{ form.submit(class="btn btn-light btn-lg") }}<br><br>
          <a href="/register" class="btn btn-secondary fs-5"> Sing up </a><br><br>
      </form>
 </div>
<br>

{% endblock %}
