{% extends "base.html" %}

{%block title%}{% endblock %}
{%block contact_form%}
{%from "_render_field.html" import render_field%}
 <div class="form-wrapper" align="center">
      <form method="POST" action="{{ url_for('login') }}">
                  {{form.csrf_token}}
                  {{ render_field(form.email) }}
                  {{ render_field(form.password) }}
                  {{ render_field(form.remember) }}
          <br>
          {{ form.submit(class="btn btn-light btn-lg") }}<br><br>
          <a href="/register" class="btn btn-info fs-5"> Sing in </a>
      </form>
     </div>
<br>

{% endblock %}
