{% extends "base.html" %}

{%block title%}Контактна форма{% endblock %}
{%block content%}
{%from "_render_field.html" import render_field%}
 <div class="form-wrapper" align="center">
     <br>
     <form action="{{ url_for('task_create') }}">
        <input  class="btn btn-light btn-lg" type="submit" value="Додати завдання" />
     </form>
     <br>
     <table class="table table-striped w-auto" border="3" align="center">
  <thead>
    <tr>
        <td class="table_form" scope="col">Id</td>
      <td class="table_form" scope="col">Title</td>
        <td class="table_form" scope="col">Description</td>
        <td class="table_form" scope="col">Created</td>
      <td class="table_form" scope="col">Priority</td>
        <td class="table_form" scope="col">Is Done</td>
        <td class="table_form" scope="col">Category</td>
        <td class="table_form" scope="col">Employers</td>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
       <td class="table_form">{{task.id}}</td>
       <td class="table_form"><a class="href_in_background" href="/task/{{task.id}}">{{task.title}}</a></td>
       <td class="table_form">{{task.description}}</td>
       <td class="table_form">{{task.created}}</td>
       <td class="table_form">{{task.priority.name}}</td>
       <td class="table_form">{{task.is_done}}</td>
       <td class="table_form">{{task.category_backref.name}}</td>
       <td class="table_form">
           {% for empl in task.employee_backref %}
               <a class="href_in_background" href="/employee/{{ empl.id }}">{{empl.name}}</a>
           {%endfor%}
       </td>
  </tr>
  {%endfor%}
  </tbody>
</table>
     <a class="btn btn btn-info" href="\category" role="button">Categories</a>
     <a class="btn btn btn btn-success" href="\employee" role="button">Employee</a>
</div>

{% endblock %}
